<%= form_with(model: event_attendee) do |form| %>
  <% if event_attendee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_attendee.errors.count, "error") %> prohibited this user from attending this event:</h2>

      <ul>
        <% event_attendee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :event_id, value: event_attendee.event_id %>
  </div>

  <div>
    <%= form.hidden_field :attendee_id, value: event_attendee.attendee_id %>
  </div>

  <div>
    <%= form.submit 'Attend event' %>
  </div>
<% end %>