<p>
  <strong>Name:</strong>
  <%= link_to event.name, event_url(event.id) %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= render 'users/user_name', user: event.organizer %>
</p>

<p>
  <strong>Description:</strong>
  <%= event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= event.date %>
</p>
